# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo

# debug logs
npm-debug.*
bun-error.log

# env
.env
.env*.local

# macOS
.DS_Store


# Copies that `prepack` puts into each package.
packages/*/LICENSE
packages/*/README.md
