NODE_ENV=development
PORT=3000

API_KEY=op://example-${ENV}/api-service/API_KEY
DATABASE_URL=op://example-${ENV}/api-service/DATABASE_URL
REDIS_URL=op://example-${ENV}/api-service/REDIS_URL
STRIPE_SECRET=op://example-${ENV}/api-service/STRIPE_SECRET
