# Web app secrets

NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_APP_NAME=My App

SESSION_SECRET=op://example/web-app/SESSION_SECRET
OAUTH_CLIENT_ID=op://example/web-app/OAUTH_CLIENT_ID
OAUTH_CLIENT_SECRET=op://example/web-app/OAUTH_CLIENT_SECRET
