NODE_ENV=development
PORT=3000

API_KEY=op://envi-example/api-service-${ENV}/API_KEY
DATABASE_URL=op://envi-example/api-service-${ENV}/DATABASE_URL
REDIS_URL=op://envi-example/api-service-${ENV}/REDIS_URL
STRIPE_SECRET=op://envi-example/api-service-${ENV}/STRIPE_SECRET
