NODE_ENV=development
PORT=3000

API_KEY=op://envi-example/api-service-${PROFILE}/API_KEY
DATABASE_URL=op://envi-example/api-service-${PROFILE}/DATABASE_URL
REDIS_URL=op://envi-example/api-service-${PROFILE}/REDIS_URL
STRIPE_SECRET=op://envi-example/api-service-${PROFILE}/STRIPE_SECRET
